.servicios-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.servicios-titulo {
  display: flex;
  align-items: center; // Alineación vertical del botón con el título
  justify-content: center;
  gap: 10px; // Espaciado entre el título y el botón

  h2 {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
  }
}

  hr {
    width: 60px;
    border: 2px solid #005595;
    margin: 0 auto;
  }


.servicios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin: 20px 12%;
}

.servicio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.servicio-icono {
  background-color: #042f59;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  mat-icon {
    font-size: 40px;
    color: #ffffff;
    width: 40px;
    height: 40px;
  }
}

.servicio-titulo {
  color: #042f59;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.servicio-descripcion {
  margin-bottom: 1.5rem;
  color: #555;
  flex-grow: 1;
}

.escribenos-btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.ver-mas-container {
  display: flex;
  align-items: center; // Centrado verticalmente
  justify-content: center; // Centrado horizontalmente

  button {
    background: none; // Sin fondo
    border: none; // Sin borde
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    mat-icon {
      color: #333; // Color del icono
      font-size: 40px; // Tamaño del icono
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


.servicios-adicionales {
  margin-top: 1rem;
  overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .servicios-grid {
    grid-template-columns: 1fr;
  }
}
