.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;


  &.scrolled {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Sombra para dar efecto de elevación
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    overflow: hidden;
  }
}

.dlogo {
  .logo {
    width: 140px;
    height: 53px;
  }
}

.nav-logo {
  width: 150px; /* Ajusta según necesites */
  height: auto;
  /* El fill controlará el color del SVG */
  fill: #00a8e8; /* Color celeste por defecto */
}

/* Cuando el nav tiene fondo de imagen */
.nav-with-image .nav-logo {
  fill: white;
}

.menu {
  .nav-list {
    list-style-type: none;
    display: flex;
    li {
      margin: 0 15px;
      font-size: 1rem;
      font-weight: bolder;
      .nav-item {
        text-decoration: none;
        color: var(--color-nav);
        opacity: 0.5;
        text-transform: uppercase;
        &:hover, &.active {
          opacity: 1;
        }
      }
    }
  }
}
