<nav [class.scrolled]="isScrolled" class="nav-container">
  <div class="main-container">
    <div class="nav-content">
      <div class="dlogo">
        <img
          src="assets/images/logo-mqv-blue.png"
          alt="Logo MQV"
          class="logo"
        />
      </div>
      <div class="menu">
        <ul class="nav-list">
          <li><a routerLink="/home" routerLinkActive="active" class="nav-item">HOME</a></li>
          <li><a routerLink="/contact-us" routerLinkActive="active" class="nav-item">CONTACTANOS</a></li>
          <li><a routerLink="/about-us" routerLinkActive="active" class="nav-item ">CONOCENOS</a></li>
          <li><a routerLink="/packages" routerLinkActive="active" class="nav-item">PAQUETES</a></li>
          <li><a routerLink="/tu-proxima-aventura" routerLinkActive="active" class="nav-item">TU PROXIMA AVENTURA</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
