.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-content {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
}

.carousel-items {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;

  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 calc(100% / 5); /* Cambia a 3 para el segundo carrusel */
  text-align: center;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  width: 100px;
}

.carousel-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nav-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

