<footer>
  <div class="footer-container">
    <!-- Primera Columna: Logo, Presentación, Horario y Redes Sociales -->
    <div class="footer-section first-column">
      <img src="/assets/images/logo-mqv-blue.png" alt="Logo Más Que Vacaciones" class="footer-logo" />
      <p class="text-presentacion">Tu aliado para organizar escapadas, aventuras y viajes familiares.</p>

      <!-- Horario -->
      <div class="footer-subsection">
        <h4>Horario</h4>
        <p>Lun - Vie 9:00 am - 6:30 pm</p>
        <p>Sab 9:00 am - 12:00 pm</p>
      </div>

      <!-- Redes Sociales -->
      <div class="footer-subsection">
        <h4>Síguenos en:</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/masquevacaciones" target="_blank"><img src="/assets/logos/social-networks/facebook-icon.webp" alt="Facebook" class="social-logo" /></a>
          <a href="https://www.instagram.com/masquevacaciones/" target="_blank"><img src="/assets/logos/social-networks/instagram-icon.webp" alt="Instagram" class="social-logo" /></a>
          <a href="https://www.tiktok.com/@masquevacaciones" target="_blank"><img src="/assets/logos/social-networks/tiktok-icon.webp" alt="TikTok" class="social-logo" /></a>
          <a href="https://wa.me/+51932244747" target="_blank"><img src="/assets/logos/social-networks/whatsApp-icon.webp" alt="WhatsApp" class="social-logo" /></a>
        </div>
      </div>
    </div>

    <!-- Segunda Columna: Empresa y Enlaces -->
    <div class="footer-section">
      <h4>Empresa</h4>
      <p><a href="/about-us">Conócenos</a></p>
      <p><a href="/servicios">Servicios que ofrecemos</a></p>

      <h4>Enlaces</h4>
      <p><a href="/libro-de-reclamos">Libro de reclamos</a></p>
      <p><a href="/terminos-y-condiciones">Términos y condiciones</a></p>
      <p><a [routerLink]="['/', routeFaq.path]">{{ routeFaq.name }}</a></p>
      <p><a href="/politicas-de-privacidad">Políticas de privacidad</a></p>
      <p><a href="/politica-de-cancelacion">Política de cancelación</a></p>
    </div>

    <!-- Tercera Columna: Contacto y Formas de Pago -->
    <div class="footer-section">
      <h4>Contáctanos</h4>
      <p>+51 932 244 747</p>
      <p><a href="mailto:contacto&#64;masquevacaciones.com">contacto&#64;masquevacaciones.com</a></p>

      <h4>Formas de Pago</h4>
      <div class="payment-methods">
        <img src="/assets/logos/pages-methods/visa-logo.png" alt="VISA" class="pages-methods" />
        <img src="/assets/logos/pages-methods/mastercadr-logo.png" alt="MasterCard" class="pages-methods" />
        <img src="/assets/logos/pages-methods/american_express-logo.png" alt="American Express" class="pages-methods" />
        <img src="/assets/logos/pages-methods/bcp-logo.webp" alt="BCP" class="pages-methods" />
        <img src="/assets/logos/pages-methods/dinners-logo.webp" alt="Diners Club" class="pages-methods" />
        <img src="/assets/logos/pages-methods/interbank-logo.png" alt="Interbank" class="pages-methods" />
        <img src="/assets/logos/pages-methods/plin-logo.webp" alt="Plin" class="pages-methods" />
        <img src="/assets/logos/pages-methods/yape-logo.webp" alt="Yape" class="pages-methods" />
        <img src="/assets/logos/pages-methods/niubiz-logo.png" alt="Nubiz" class="pages-methods" />
      </div>
    </div>

    <!-- Cuarta Columna: Viaja con MQV -->
    <div class="footer-section">
      <h4>Viaja con MQV</h4>
      <p><a href="/destinos">Destinos</a></p>
      <p><a href="/experiencias">Experiencias</a></p>
    </div>
