.review-carousel {
  margin-left: 1%;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: 20px 0;
  margin-bottom: 20px;

  .review-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
    min-height: 270px;

    &.stop {
      transform: translateX(0) !important;
      flex-wrap: wrap;
      .review-item {
        min-height: 270px !important;
        justify-content: space-between;
      }
      @media (max-width: 768px) {
        .review-item {
        gap: 20px;
        }
        }
    }

  }

  .review-item {
    padding: 20px;
    border-radius: 10px;
    background-color: #F2F6FF;
    text-align: left;
    position: relative;
    height: fit-content;
    min-height: 270px;

    .review-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;

      .review-info {
        .review-name {
          font-size: 18px;
          font-weight: bold;
        }

        .review-time {
          font-size: 14px;
          color: #666;
        }
      }

      .review-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 5px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .review-stars {
      font-size: 16px;
      color: #FFD700;
      margin-bottom: 10px;
    }

    .review-text {
      font-size: 14px;
      color: #333;
      line-height: 20px;
      text-align: justify;
      position: relative;
      flex-grow: 1;
      overflow: hidden;
      margin-bottom: 30px; // Espacio para el icono de Google

      &.expanded {
        overflow: auto;
        max-height: calc(100% - 120px); // Altura total menos el espacio para header y footer
      }
    }

      .read-more-btn {
        background: none;
        border: none;
        color: #181919;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        margin-left: 5px;
      }
    }

    .review-google-icon {
      position: absolute;
      margin-top: 10%;
      bottom: 10px;
      right: 25px;
      width: 20px; /* Tamaño pequeño */
      height: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

.head{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .head-text{
    width: 60%;
  }
  @media (max-width: 768px) {
    .head-text{
      width: 100%;
      margin-bottom: 5%;
    }
    }

  p {
    margin-top: 5px;
    margin-bottom: 2%;
    text-align: justify;
    font-size: 1rem;
    color: #585656;
    line-height: 1.5;
    margin-left: 1%;
  }

button{
  width: 180px;
  height: 35px;
  background: none;
  border: 2px solid #072D75;
  border-radius: 3px;
  cursor: pointer;
}
@media (max-width: 768px) {
  button{
    width: 285px;
  }
}
}

@media (max-width: 768px) {
  .head{
    align-items: flex-start;
    display: grid;
  }
  }

.see-more{
  width: 180px;
  margin-left: 450px;
  height: 35px;
  background: none;
  border: 2px solid #072D75;
  border-radius: 3px;
  cursor: pointer;
}

@media (min-width: 1720px) {
  .see-more {
    margin-left: 910px;
  }
}
@media (max-width: 768px) {
  .see-more {
    margin-left: 0;
    width: 100%; // Se ajusta al ancho de la pantalla
    text-align: center;
    width: 285px;
  }
h4{
  margin-left: 1%;
}

}
