.review-carousel {
  margin-left: 1%;
  position: relative;
  overflow: hidden;
  margin: auto;
  padding: 20px 0;
  margin-bottom: 20px;

  .review-items {
    display: flex;
    /* Aumentamos los tiempos de transición */
    transition: transform 0.8s ease-in-out, opacity 0.7s ease;
    gap: 20px;
    min-height: 270px;

    &.animating {
      opacity: 0.3; /* Reducimos más la opacidad para mayor efecto */
    }

    &.stop {
      transform: translateX(0) !important;
      flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
      opacity: 1;
      /* Agregamos transición también al volver a la normalidad */
      transition: opacity 1s ease-in-out, transform 1s ease-in-out;

      .review-item {
        min-height: 270px !important;
        justify-content: space-between;
        /* Añadimos transición a los items también */
        transition: all 0.5s ease-in-out;
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        .review-item {
          gap: 20px;
        }
      }
    }
  }

  .review-item {
    padding: 20px;
    border-radius: 10px;
    background-color: #f6f9ff;
    text-align: left;
    position: relative;
    min-height: 270px;
    border: 1px solid #181919;
    .review-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;

      .review-info {
        .review-name {
          font-size: 18px;
          font-weight: bold;
          color: #343434;
        }

        .review-time {
          font-size: 14px;
          color: #666;
        }
      }

      .review-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 5px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .review-stars {
      font-size: 16px;
      color: #FFD700;
      margin-bottom: 10px;
    }

    .review-text {
      font-size: 14px;
      color: #000000;
      line-height: 20px;
      text-align: justify;
      position: relative;
      flex-grow: 1;
      overflow: hidden;
      margin-bottom: 30px; // Espacio para el icono de Google

      &.expanded {
        overflow: auto;
        max-height: calc(100% - 120px); // Altura total menos el espacio para header y footer
      }
    }

      .read-more-btn {
        background: none;
        border: none;
        color: #181919;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        margin-left: 5px;
      }
    }

    .review-google-icon {
      position: absolute;
      margin-top: 10%;
      bottom: 10px;
      right: 25px;
      width: 20px; /* Tamaño pequeño */
      height: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
    @media (max-width: 768px) {
      .review-carousel{
        padding: 20px 0px 0px 20px;
      }
  }



.head{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 96%;
  .head-text{
    width: 61%;
    h4 {
      font-size: 18px;
      color: #2b2b2b;
      font-weight: bold;
    }
  }
  @media (max-width: 768px) {
    .head-text{
      width: 100%;
      margin-bottom: 5%;
    }
    p{
      margin-left: 8%;
    }
    }

  p {
    margin-top: 5px;
    margin-bottom: 2%;
    text-align: justify;
    font-size: 1rem;
    color: #2b2b2b;
    line-height: 1.5;
  }

  button {
    width: 180px;
    height: 35px;
    background:#f3faff;;
    color: #042f59;
    border: 2px solid #042f59 ;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
  }

  button:hover {
    background: #042f59; /* Fondo blanco al pasar el mouse */
    color: #ffffff; /* Texto azul */
    border: 2px solid #042f59 ;
  }

  button:active {
    background: #ffffff; /* Fondo blanco al hacer clic */
    color: #042f59; /* Texto azul */
    border: 2px solid #042f59 ;
  }

@media (max-width: 768px) {
  button{
    width: 245px;
    margin: auto;
  }
}
}

@media (max-width: 768px) {
  .head{
    align-items: flex-start;
    display: grid;
  }
  }

.see-more{
  margin-left: 745px;
  width: 180px;
  height: 35px;
  background: #ffffff;
  color: #042f59;
  border: 2px solid #042f59 ;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  }

  button:hover {
    background: #042f59; /* Fondo blanco al pasar el mouse */
    color: #ffffff; /* Texto azul */
    border: 2px solid #042f59 ;
  }

  button:active {
    background: #ffffff; /* Fondo blanco al hacer clic */
    color: #042f59; /* Texto azul */
    border: 2px solid #042f59 ;
  }

@media (min-width: 1720px) {
  .see-more {
    margin-left: 1080px;
    margin-top: 3%;
  }
  .stop{
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
}
@media (max-width: 768px) {
  .see-more {
    margin-left: 0;
    width: 100%; // Se ajusta al ancho de la pantalla
    text-align: center;
    width: 285px;
  }
h4{
  margin-left: 8%;
  margin-bottom: 3%;
}

}
