.button-accordion{
   background-color: white;
   color: rgba(0, 0, 0, 0.8);
   cursor: pointer;
   font-size: 1.2rem;
   width: 100%;
   padding: 2rem 2.5rem;
   border: none;
   outline: none;
   transition: 0.4s;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: bold;
 }

 i{
   font-size: 1.6rem;
 }

 .active, .button-accordion:hover{
   background-color: #e7e7e7;
}

.pannel{
   padding: 2.5rem 2rem;
   background-color: white;
   overflow: hidden;
   background-color: #f1f7f5;
   display: none;
}
 
 /* Clase para mostrar el panel */
 .visible {
   display: block;
 }

p{
   color: rgba(0, 0, 0, 0.7);
   font-size: 1.2rem;
   line-height: 1.4;
}

.faq{
   outline: 1px solid rgba(0, 0, 0, 0.2);
}

.faq.active{
   outline: none;
}

