<div class="nav-content">
  <div class="dlogo" >
    <img src="/assets/Logo_MQV_Sello_222.png" alt="Logo MQV" class="logo"/>
  </div>
  <div class="menu">
    <ul class="nav-list">
      <li><a href="/home" class="nav-item ">HOME</a></li>
      <li><a href="/contactanos" class="nav-item">CONTACTANOS</a></li>
      <li><a href="/conocenos" class="nav-item ">CONOCENOS</a></li>
      <li><a href="/paquetes" class="nav-item">PAQUETES</a></li>
      <li><a href="/tu-proxima-aventura" class="nav-item">TU PROXIMA AVENTURA</a></li>
    </ul>
  </div>
  <div class="slogan">
    <h1>Cada destino, una historia por vivir</h1>
  </div>
</div>
<router-outlet></router-outlet>
