<div class="video-content">
  <iframe class="video_mp4"
          src="https://www.youtube.com/embed/nWk6Y5h4Ovo?si=UXbyGhnuHgqclqua?&autoplay=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
  </iframe>
</div>
<div class="know-content">
  <p> Conocenos</p>
</div>
<div class="history-content">
  <h2> Más Que Vacaciones</h2>
  <p class="text-content">
    Más que Vacaciones es una agencia de viajes fundada en 2014
    con el propósito de ofrecer un servicio integral y hacer
    que cada experiencia de viaje sea inolvidable.
    Proporcionamos pasajes aéreos, paquetes turísticos,
    seguros de viaje y cruceros, siempre enfocados en brindar
    momentos únicos a precios accesibles.
    Creemos firmemente que viajar debe ser una experiencia enriquecedora
    y asequible para todos.
  </p>
  <img src="/assets/images/logo-mqv-background.png" class="Logo_imagen" alt="logo_mqv"/>
</div>
<div class="vision-mision">
  <div>
    <img src="/assets/images/vision.png" alt="logo-vision" class="vision" />
    <h3>Visión</h3>
    <p>
      Ser reconocida como una de las agencias líderes en el mundo
      de turismo destacando nuestra atención personalizada y calidad de servicio.
    </p>
  </div>
  <div>
    <img src="/assets/images/mission.png" alt="logo-mision" class="mision"/>
    <h3>Misión</h3>
    <p>
      Ofrecer un excelente servicio a fin de lograr la máxima satisfacción
      de nuestros viajeros a través de una buena atención de nuestro equipo,
      diseñando viajes únicos a precios accesibles.
    </p>
  </div>
</div>
<div class="Esencia-content">
  <img src="/assets/images/our-essence.webp" class="Esencia-img" />

  <div class="esencia-text-content">
    <h4>Nuestra Esencia</h4>

    <div class="Esencia-title">
      <h5>Servicio Integral</h5>
      <p>Nos encargamos de todos los aspectos de tu viaje, desde la planificación hasta el regreso.</p>
    </div>
    <div class="Esencia-title">
      <h5>Compromiso con la excelencia</h5>
      <p>Nos esforzamos por superar tus expectativas en cada viaje, ofreciendo experiencias únicas y enriquecedoras.</p>
    </div>
    <div class="Esencia-title">
      <h5>Accesibilidad y Calidad</h5>
      <p>Creemos que viajar debe ser accesible para todos, sin comprometer la calidad de los servicios ofrecidos.</p>
    </div>
    <div class="Esencia-title">
      <h5>Recomendaciones</h5>
      <p>Te ofrecemos recomendaciones personalizadas para que aproveches al máximo tu viaje.</p>
    </div>
    <div class="Esencia-title">
      <h5>Experiencias Únicas</h5>
      <p>Diseñamos viajes que combinan confort, aventura y autenticidad para enriquecer tus vivencias.</p>
    </div>
    <div class="Esencia-title">
      <h5>Atención Personalizada</h5>
      <p>Nuestro equipo está disponible para asistirte antes, durante y después de tu viaje.</p>
    </div>
  </div>
</div>
<div class="carousel-container">
  <div >
    <h5 class="respald-text" >Nuestros socios:</h5>
  </div>
  <div class="carousel" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
    <div class="carousel-item" *ngFor="let slide of slides">
      <img [src]="slide.image" alt="Slide image" class="carousel-image" />
      <h5>{{ slide.title }}</h5>
      <p>{{ slide.description }}</p>
    </div>
  </div>
</div>
<div class="whatsapp-container">
  <a href="https://wa.me/+51932244747" class="whatsapp-button" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" width="40" height="40">
  </a>
</div>

<div class="carousel-respald-container">
<div >
  <h5 class="respald-text" >Respaldado Por:</h5>
</div>
  <div class="carousel-respald" [style.transform]="'translateX(' + (-currentIndexRespaldo * 100) + '%)'">
    <div class="carousel-respald-item" *ngFor="let slide of slidesRespaldo">
      <img [src]="slide.image" alt="{{ slide.alt }}" />
    </div>
  </div>
</div>

<router-outlet></router-outlet>
