body{
  background-image: none;
}
.banner-container {
  .banner-video {
    overflow: hidden;

    iframe {
      width: 1982px; // Ajusta este tamaño si es necesario
      height: 1116px; // Ajusta este tamaño si es necesario
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none; // Evita que el usuario interactúe con el video
    }
  }
}




.know-content{
  color: #444444;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px;
  margin-left: 7%;
}

.history-content {
  background-color: #F1F1F1; /* Color de fondo */
  padding: 30px; /* Espaciado interno */
  margin-top: 10px;
  display: flex; /* Usamos grid layout */
  align-items: center; /* Centrado vertical */
  column-gap: 50px; /* Espacio entre columnas */

  .text-content {
    font-size: 1rem;
    color: #585656; /* Color del texto */
    line-height: 1.6; /* Espaciado entre líneas */
    font-weight: normal; /* Fuente regular */
    text-align: justify;


  }


  .Logo_imagen {
    width: 100%; /* La imagen ocupa su contenedor */
    max-width: 300px; /* Ancho máximo de la imagen */
    height: auto; /* Mantener la proporción */
    margin-left: auto; /* Empujar la imagen a la derecha */
    display: flex;
     margin-right: 9%;
  }
}
.vision-mision {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-between; /* Espacio uniforme entre las secciones */
  align-items: flex-start; /* Alinea todo al inicio */
  text-align: center; /* Centra el texto */
  padding: 20px;
  gap: 20px; /* Espacio entre los elementos */
  margin-left: 3%;

  div {
    margin-top: 40px;
    flex: 1; /* Ocupa la mitad del contenedor */
    padding: 0 10px; /* Espacio alrededor del contenido */

    .vision {
      width: 100px; /* Ajusta el tamaño del ícono */
      height: 100px;
      padding: 10px;
      margin-bottom: 10px;
    }

    .mision {
      width: 100px; /* Ajusta el tamaño del ícono */
      height: 100px;
      padding: 10px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.3rem;
      font-weight: bold;
      margin: 0 0 10px 0;
      color: #585656; /* Color del título */
    }

    p {
      width: 65%;
      font-size: 1rem;
      color: #585656; /* Color del texto */
      line-height: 1.5; /* Espaciado entre líneas */
      text-align: justify;
      margin-left: 100px;
      margin-bottom: 10px;
    }
  }
}

.Esencia-content {
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px; // Ancho fijo para las tarjetas
    padding: 1rem;
    text-align: center;

    img {
      width: 200px; // Ancho fijo para las imágenes
      height: auto; // Mantiene la proporción de la imagen
      border-radius: 6px;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0.5rem 0;
      color: #333;
    }

    p {
      font-size: 1rem;
      color: #666;
    }

    &:hover {
      transform: translateY(-5px);
      transition: all 0.3s ease-in-out;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }
  }
}
.carousel-container {
  margin-top: 25px;
  width: 100%;
  height: 80%;
}
  .whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.whatsapp-container:hover {
    background-color: #128C7E;
}

.whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
}

h2 {
  font-size: 1.3rem; /* Tamaño del título */
  margin-bottom: 15px; /* Espaciado inferior */
  color: #333; /* Color del título */
  margin-left: 10%;
  display: flex;
}

h4 {
  font-size: 1.3rem;
  color: #333;
  margin-top: 20px;
  margin-left: 20px;
}

