<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<app-banner [isVideo]="true" [videoUrl]="videoUrl" title="">
  <iframe #videoFrame [src]="videoUrl" width="100%" height="100%" frameborder="0"
    (click)="preventPause($event)"></iframe>
</app-banner>

<button class="mute-toggle" (click)="toggleMute()" [title]="isMuted ? 'Unmute' : 'Mute'">
  <i class="fas" [class.fa-volume-up]="!isMuted" [class.fa-volume-mute]="isMuted"></i>
</button>


<div class="container">
  <div class="history-content" #historyContent>
    <div class="part2">
      <div class="histori-header">
        <h2>Nuestra historia</h2>
        <img src="/assets/images/airplane-mobile.png" alt="ornament" class="air">
      </div>

      <div class="text-content-bg">
        <p class="text-content">
          La historia empezó con una mala experiencia en una agencia viajes, una estafa con la compra de un boleto aéreo
          llevo a la fundadora a buscar la forma de recuperar su dinero sin imaginar que en ese camino quedo cautivada
          por todo lo que involucra el mundo turístico. No recupero su dinero, lo perdió, pero decidió estudiar turismo
          y
          así empezó su formación profesional trabajando para la empresa Nuevo Mundo, Despegar.com y el Corte inglés.
          Hoy
          con 20
          años de experiencia se sigue emocionando de ser parte de la historia de muchas familias ayudando a crear
          momentos únicos e inolvidables. Experiencias para toda la vida dentro de Perú y el mundo.
          ¿Y tú que esperas para viajar con nosotros?
        </p>
        <div class="audio-controls">
          <button (click)="toggleAudio()" class="btn-audio">
            <i class="fas" [class.fa-play]="audioPaused" [class.fa-pause]="!audioPaused"></i>
            {{ audioPaused ? 'Escuchar historia' : 'Pausar historia' }}
          </button>
          <audio #audioRef style="display:none;" (ended)="onAudioEnded()" (pause)="onAudioPaused()"
            (play)="onAudioPlayed()">
            <source src="assets/audios/conocenos1.mp3" type="audio/mp3">
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div>
      </div>
    </div>

    <div class="part2">
      <div class="fundadora-mobile">
        <img src="assets/images/1.png" alt="Imagen fundadora" class="fundadora-image" />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="history-content" #historyContent>
    <div class="part2">
      <div class="histori-header">
        <h2>Conócenos</h2>
      </div>

      <div class="text-content-bg">
        <p class="text-content">
          Somos una agencia de viajes con más de 10 años de trayectoria turística ayudando a personas a organizar viajes
          en
          familia, con amigos, por trabajo o para tomar un descanso.
          Felices de ser parte de la comunidad de embajadores marca Perú y 100% peruanos estamos comprometidos con el
          desarrollo de un turismo sostenible, promoviendo Perú al mundo.
        </p>
      </div>
    </div>

    <div class="part2">
      <div class="fundadora-mobile">
        <img src="assets/images/video-logo.png" alt="Video logo" class="fundadora-image" />
      </div>
    </div>


  </div>
</div>

<!-- <img src="/assets/images/bordes/ave.png" alt="ornament" class="ave"> -->

<div class="Esencia-content" #esenciaContent>
   <h4>Destacamos por</h4>
  <p>ATENCION PERSONALIZADA, desde que nos contactan para organizar su viaje con los lugares que sueñan visitar, trabajamos para conectar con su necesidad y personalizarla.</p>
  <p>CLIENTES CONTENTOS, estamos comprometidos con brindar un excelente soporte a nuestros clientes para que su experiencia de viaje sea buena, agradable y perfecta.</p>

  <div class="image-container">
    <app-cards *ngFor="let item of galleryItems" [image]="item.image" [title]="item.title"
      [description]="item.description" class="card-item">
    </app-cards>
  </div>
</div>



<!-- <img src="/assets/images/bordes/tourist.png" alt="ornament" class="tourist"> -->

<div class="servicios-container">
  <app-servicios></app-servicios>
</div>

<div class="review_container">
  <div class="review">
    <app-reviws [reviews]="reviewList"></app-reviws>
  </div>
</div>

<!-- <img src="/assets/images/bordes/guacamayo.png" alt="ornament" class="guaca">-->

<div class="galery">
  <app-gallery></app-gallery>
</div>

<div class="carousel_fondo">

  <div class="gallery-container">
    <div class="gallery">
      <div class="carousel-container">

        <h4 class="icon-heading">
          <i class="fas fa-users"></i>
          Nuestros Socios Estratégico
        </h4>
        <p>
          En Más que vacaciones, hemos logrado establecer alianzas estratégicas con los socios más confiables y
          destacados
          del sector.
        </p>
        <app-carousel [items]="carouselItems1" [itemsToShow]="5" [autoRotate]="true"
          [rotationInterval]="3000"></app-carousel>
      </div>
    </div>
  </div>



  <div class="gallery">
    <div class="carousel-container">
      <h4 class="icon-heading">
        <i class="fas fa-handshake"></i>
        Aliados que certifican nuestra trayectoria
      </h4>
      <p>
        A lo largo de nuestra trayectoria en el sector turístico, hemos contado con el valioso respaldo de
        reconocidas instituciones que confían en nuestro compromiso y profesionalismo.
      </p>
      <div class="grid-container">
        <div *ngFor="let item of carouselItems2" class="card">
          <img [src]="item.image" [alt]="item.title" class="card-image">
          <h3 class="card-title">{{ item.title }}</h3>
        </div>
      </div>

      <h4 class="icon-heading">
        <i class="fas fa-hotel"></i>
        Turismo con valores : orgullosos de pertenecer a Protégeme Turismo Responsable
      </h4>
      <p>
        Formamos parte de Protégeme Turismo Responsable, una iniciativa que promueve un turismo seguro,
        ético y sostenible.
      </p>
      <div class="grid-container">
        <div *ngFor="let item of carouselItems3" class="card">
          <img [src]="item.image" [alt]="item.title" class="card-image">
          <h3 class="card-title">{{ item.title }}</h3>
        </div>
      </div>
    </div>
  </div>


  <div class="gallery">
  </div>


</div>

<div class="whatsapp-container">
  <a href="https://wa.me/+51932244747" class="whatsapp-button" target="_blank">
    <img class="wa-image" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
  </a>
</div>

<router-outlet></router-outlet>