<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<app-banner [isVideo]="true" [videoUrl]="videoUrl" title="">
  <iframe
    #videoFrame
    [src]="videoUrl"
    width="100%"
    height="100%"
    frameborder="0"
    (click)="preventPause($event)"
  ></iframe>
</app-banner>

<button
  class="mute-toggle"
  (click)="toggleMute()"
  [title]="isMuted ? 'Unmute' : 'Mute'"
>
  <i
    class="fas"
    [class.fa-volume-up]="!isMuted"
    [class.fa-volume-mute]="isMuted"
  ></i>
</button>

<div class="container">
  <div class="history-content" #historyContent>
    <div class="part2">
      <div class="histori-header">
        <h2>Nuestra historia</h2>
      </div>

      <div class="text-content-bg">
        <p class="text-content">
          El inicio de ARGEBRA INGENIEROS S.A.C. surge en el año 2014 con el
          propósito de ofrecer soluciones integrales en el campo de la
          arquitectura, la ingeniería y el transporte de carga por carretera.
          Desde nuestros primeros proyectos, comprendimos la importancia de
          brindar un servicio técnico de calidad, responsable y con enfoque
          sostenible, convirtiendo cada reto en una oportunidad para innovar. A
          lo largo de los años, hemos consolidado una trayectoria sólida gracias
          al compromiso de un equipo profesional altamente capacitado, que
          garantiza resultados eficientes y seguros en cada obra desarrollada.
          Con sede en el distrito de Chorrillos, Lima – Perú, y registrados en
          el Registro Nacional de Proveedores, nos encontramos plenamente
          habilitados para participar en contrataciones con el Estado y el
          sector privado. Así, ARGEBRA INGENIEROS S.A.C. se ha convertido en una empresa de
          confianza, reconocida por su cumplimiento, ética y excelencia técnica.
         ¿Estás listo para
          construir tu próximo proyecto con nosotros? Puedes contactarnos para
          descubrir cómo podemos contribuir al crecimiento de tu negocio.
          Nuestro equipo de atención estará encantado de resolver tus dudas,
          ofrecerte información detallada y ayudarte a tomar la mejor decisión
          según tus necesidades.
        </p>
      </div>
    </div>

    <div class="part2">
      <div class="fundadora-mobile">
        <img
          [src]="currentImage"
          alt="Imagen fundadora"
          class="fundadora-image"
          (mouseenter)="onHover()"
          (mouseleave)="onLeave()"
          (click)="onClick()"
        />
      </div>

      <div class="text-content-bg">
        <div class="audio-controls">
          <button (click)="toggleAudio()" class="btn-audio">
            <i
              class="fas"
              [class.fa-play]="audioPaused"
              [class.fa-pause]="!audioPaused"
            ></i>
            {{ audioPaused ? "Escuchar historia" : "Pausar historia" }}
          </button>
          <audio
            #audioRef
            style="display: none"
            (ended)="onAudioEnded()"
            (pause)="onAudioPaused()"
            (play)="onAudioPlayed()"
          >
            <source src="assets/audios/conocenos2.mp3" type="audio/mp3" />
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-2">
  <div class="history-content" #historyContent>
    <div class="part1">
      <div class="fundadora-mobile">
        <div class="fundadora-mobile">
          <img
            src="assets/images/video-logo.png"
            alt="Logo institucional"
            class="fundadora-image-1"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <img src="/assets/images/bordes/ave.png" alt="ornament" class="ave"> 
<img src="assets/images/video-logo.gif" alt="Logo animado" class="fundadora-image" /> 
-->

<div class="Esencia-content" #esenciaContent>
  <h4>Nuestra promesa</h4>
  <div class="image-container">
    <app-cards
      *ngFor="let item of galleryItems"
      [image]="item.image"
      [title]="item.title"
      [description]="item.description"
      class="card-item"
    >
    </app-cards>
  </div>
</div>

<!-- <img src="/assets/images/bordes/tourist.png" alt="ornament" class="tourist"> -->

<div class="servicios-container">
  <app-servicios></app-servicios>
</div>

<div class="review_container">
  <div class="review">
    <app-reviws [reviews]="reviewList"></app-reviws>
  </div>
</div>

<!-- <img src="/assets/images/bordes/guacamayo.png" alt="ornament" class="guaca">-->

<div class="galery">
  <app-gallery></app-gallery>
</div>

<div class="carousel_fondo">
  <div class="gallery-container">
    <div class="gallery">
      <div class="carousel-container">
        <h4 class="icon-heading">
          <i class="fas fa-users"></i>
          Parte de nuestros aliados estratégicos
        </h4>
        <p>
          En <strong>ARGEBRA INGENIEROS S.A.C.</strong>, hemos consolidado
          alianzas estratégicas con empresas líderes del sector de la ingeniería
          y la construcción, con el objetivo de fortalecer la calidad y
          eficiencia de nuestros proyectos. Estas colaboraciones nos permiten
          integrar tecnología, experiencia y soluciones innovadoras para brindar
          resultados confiables y sostenibles a nuestros clientes.
        </p>
        <app-carousel
          [items]="carouselItems1"
          [itemsToShow]="5"
          [autoRotate]="true"
          [rotationInterval]="3000"
        ></app-carousel>
      </div>
    </div>
  </div>

  <div class="gallery">
    <div class="carousel-container">
      <h4 class="icon-heading">
        <i class="fas fa-handshake"></i>
        Aliados que certifican nuestra trayectoria
      </h4>
      <p>
        A lo largo de nuestra trayectoria en el sector de la ingeniería y la
        construcción, hemos contado con el valioso respaldo de reconocidas
        instituciones y empresas que confían en nuestra capacidad técnica,
        cumplimiento y compromiso con la excelencia.
      </p>
      <app-carousel
        [items]="carouselItems2"
        [itemsToShow]="5"
        [autoRotate]="true"
        [rotationInterval]="3000"
      ></app-carousel>

      <h4 class="icon-heading">
        <i class="fas fa-hotel"></i>
        Ingeniería con valores: comprometidos con la seguridad, la calidad y la
        sostenibilidad
      </h4>
      <p>
        Formamos parte de un sector que promueve la
        <strong>seguridad, sostenibilidad y ética profesional</strong> en cada
        proyecto que desarrollamos, contribuyendo activamente al progreso del
        país a través de soluciones responsables e innovadoras.
      </p>
      <div class="grid-container">
        <div *ngFor="let item of carouselItems3" class="card">
          <img [src]="item.image" [alt]="item.title" class="card-image" />
          <h3 class="card-title">{{ item.title }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="gallery"></div>
</div>

<div class="whatsapp-container">
  <a href="https://wa.me/+51932244747" class="whatsapp-button" target="_blank">
    <img
      class="wa-image"
      src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
      alt="WhatsApp"
    />
  </a>
</div>

<router-outlet></router-outlet>
