body{
  background-image: none;
}
.video-content{
  margin-top: 90px;
  display: flex;
  justify-content: center; // centra horizontalmente
  align-items: center; // Centra verticalmente
  height: 100vh;
  .video_mp4{
    width: 1000px;
    height: 530px;
  }
}

.know-content{
  color: #444444;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px;
  margin-left: 3%;
}

.history-content {
  background-color: #F1F1F1; /* Color de fondo */
  padding: 30px; /* Espaciado interno */
  margin-top: 10px;
  display: flex; /* Usamos grid layout */
  align-items: center; /* Centrado vertical */
  column-gap: 50px; /* Espacio entre columnas */

  .text-content {
    font-size: 1rem;
    color: #585656; /* Color del texto */
    line-height: 1.6; /* Espaciado entre líneas */
    font-weight: normal; /* Fuente regular */
    text-align: left; /* Alineación izquierda */
    text-align: justify;
    width: 50%;

  }

  h2 {
    font-size: 1.3rem; /* Tamaño del título */
    margin-bottom: 15px; /* Espaciado inferior */
    color: #585656; /* Color del título */
    margin-left: 3%;
    display: flex;
  }

  .Logo_imagen {
    width: 100%; /* La imagen ocupa su contenedor */
    max-width: 300px; /* Ancho máximo de la imagen */
    height: auto; /* Mantener la proporción */
    margin-left: auto; /* Empujar la imagen a la derecha */
    display: flex;
     margin-right: 5%;
  }
}
.vision-mision {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-between; /* Espacio uniforme entre las secciones */
  align-items: flex-start; /* Alinea todo al inicio */
  text-align: center; /* Centra el texto */
  padding: 20px;
  gap: 20px; /* Espacio entre los elementos */

  div {
    margin-top: 40px;
    flex: 1; /* Ocupa la mitad del contenedor */
    padding: 0 10px; /* Espacio alrededor del contenido */

    .vision {
      width: 100px; /* Ajusta el tamaño del ícono */
      height: 100px;
      padding: 10px;
      margin-bottom: 10px;
    }

    .mision {
      width: 100px; /* Ajusta el tamaño del ícono */
      height: 100px;
      padding: 10px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.3rem;
      font-weight: bold;
      margin: 0 0 10px 0;
      color: #585656; /* Color del título */
    }

    p {
      width: 65%;
      font-size: 1rem;
      color: #585656; /* Color del texto */
      line-height: 1.5; /* Espaciado entre líneas */
      text-align: justify;
      margin-left: 100px;
      margin-bottom: 10px;
    }
  }
}
.Esencia-content {
  margin-top: 40px;
  padding: 20px;
  background-color: #F1F1F1;
  display: flex; // Flexbox para alinear imagen y texto
  align-items: center; // Alinear verticalmente
  gap: 30px; // Espacio entre imagen y texto

  .Esencia-img {
    flex: 0 0 40%; // Imagen ocupa el 40% del contenedor
    max-width: 410px;
    height: auto;
    object-fit: cover; // Asegura que la imagen mantenga sus proporciones
  }

  .esencia-text-content {
    flex: 1; // El texto ocupa el resto del espacio
    display: flex;
    flex-direction: column;
    gap: 15px; // Espacio entre cada título y texto

    h4 {
      font-size: 1.3rem;
      color: #585656;
      margin-bottom: 15px;
    }

    .Esencia-title {
      display: flex; // Flexbox para h5 y p
      align-items: flex-start; // Alinear h5 y p al inicio
      gap: 10px; // Espacio entre h5 y p

      h5 {
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        margin: 10px 30px; // Asegurar que no haya margen
        width: 25%;
      }

      p {
        font-size: 1rem;
        color: #585656;
        margin: 0; // Eliminar margen superior
        line-height: 1.5;
        width: 55%;
        text-align: justify;
      }
    }
  }
}

.carousel-container {
  margin-top: 25px;
  width: 100%;
  height: 80%;
  overflow: hidden;
} .carousel {
   display: flex;
   transition: 2s;
} .carousel-item {
   min-width: 100%;
   box-sizing: border-box;
   text-align: center;
   .carousel-image {
     width: 120px; // Ajusta el ancho según sea necesari
     height: 120px; // Ajusta la altura según sea necesario
     object-fit: cover; // Asegura que la imagen mantenga sus proporciones dentro del contenedor
    }

  }
  .carousel-respald-container {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
  }
  .respald-text{
    font-size: 1.150rem;
    font-weight: bold;
    color: #333;
    margin: 10px 30px;
    margin-top: 3%;
    width: 20%;
    margin-left: 5%;
    font-family: 'Montserrat';
  }

  .carousel-respald {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-respald-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;

    img {
      width: auto;
      height: 170px;
      margin: 0 auto;
    }
  }
