.gallery-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Estilos de la galería principal */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.gallery-item {
  width: calc(20% - 15px);
}

.image-wrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
}

.image-wrapper:hover {
  transform: scale(1.05);
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Botón "Ver más" */
.view-more-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent; // Sin fondo
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
/* Modal de la galería completa */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Galería dentro del modal */
.modal-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.modal-gallery-item {
  width: calc(20% - 15px);
}

/* Modal para mostrar la imagen ampliada */
.enlarged-view {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.enlarged-image {
  max-width: 90%;
  max-height: 80vh;
}

.enlarged-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
